@import '@adaptabletools/adaptable-react-aggrid/index.css';
@import '@adaptabletools/adaptable-react-aggrid/themes/dark.css';

:root {
  --ab__font-family: Helvetica;
}

body {
  font-family: var(--ab__font-family);
  padding: 0;
  margin: 0;
}
